# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.npm-cache
code_go_regCodeL.html
legal_codes.txt
legal_codes_download.bin
legal_codes_download.zip
legal_codes_extract/
stn_snow_*.txt
kma_snow_*_*.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
